# .gitignore
__pycache__/

# Ignore all .jpg, .png, .txt and .zip files
*.jpg
*.png
*.txt
*.zip

# Ignore all .h5 files
*.h5

*.json 


# Ignore file that store proxy address which is sensitive infomration
proxy.py

# But don't ignore .h5 files in the data directory
!/data/**/*.h5
!requirements.txt
!tests/**/*.png
