# python -m pipreqs.pipreqs . --pypi-server <internal_pypi>
keras==2.12.0
numpy==1.23.4
opencv_python==4.7.0.72
pandas==1.5.1
Pillow==9.3.0
scikit_learn==1.2.2
tensorflow==2.12.0

# To use GPU for Windows Native, we need to use tensorflow version <2.11
# https://www.tensorflow.org/install/pip#windows-native_1
# tensorflow<2.11

# For label distribution plot
matplotlib==3.6.2

# To fix the class imbalance
imbalanced-learn==0.10.1

# To write to excel
openpyxl==3.0.10

# For data augmentation
albumentations==1.3.1

# For dataset checks
deepchecks==0.17.3
